<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<p>
  <%= link_to "Delete", article_path(@article),
       method: :delete , data: { confirm: 'Confirm deletion?' } %>
</p>

<p><%= link_to "Edit", edit_article_path(@article) %></p>

<h3>Comments</h3>
<%= render partial: 'articles/comment', collection: @article.comments %><!-- This could be replaced by 'render @article.comments' if the partial were placed in app/views/comments/_comment.html.erb -->

<%= link_to '<< Back to Articles List', articles_path %>

